/* ============================================================
   AppLayout Styles
   ============================================================ */

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
}

.app-layout__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}